header {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: #0c833d;
}

.answer1, .answer2, .answer3, .answerc {
	width: 20%;
	border-width: 2px;
	height: 50px;
}


#content {
	width: 70%;
	margin: 100px;
	color: red;
}

body {
	background-image: url("back.png");
}

#start {
	width: 100px;
}

button {
	position: absolute;
    top: 10%;
    left: 50%;
}